<!-- Main Content -->
<section class="container mx-auto my-8 bg-secondary p-6">
  <div class="rounded relative flex flex-col">
    <div class="font-bold mb-6 font-Dana">آپلود ویدیو</div>

    @if (!nextStep) {
    <!-- Upload Dropbox -->
    <div
      class="w-full px-10 py-40 rounded text-center cursor-pointer border border-dashed border-gray-400 transition duration-500 hover:text-white hover:bg-indigo-400 hover:border-indigo-400 hover:border-solid text-xl font-DanaMedium"
      appEventBlocker
      (dragend)="isDragOver = false"
      (dragover)="isDragOver = true"
      (dragenter)="isDragOver = true"
      (dragleave)="isDragOver = false"
      (mouseleave)="isDragOver = false"
      (drop)="handleStoreFile($event)"
      [ngClass]="{
        'bg-indigo-400 border-indigo-400 border-solid': isDragOver
      }"
    >
      <h5>ویدیو خود را اینجا رها کنید (mp4 فقط!)</h5>
    </div>
    }@else {
    <!-- Video Editor -->
    <div>
      <!-- Form -->
      @if (showAlert) {
      <app-alert [color]="alertColor"
        ><p>{{ alertMsg }}</p>
        @if (showPercenTage) {
        <p>{{ percenTage | percent }}</p>
        }
      </app-alert>
      }
      <form [formGroup]="uploadForm" (submit)="handleUploadFile()">
        <!-- Screenshots -->
        <h2 class="mb-4 text-xl ont-Dana">یک کاور انتخاب کنید</h2>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
          <div class="border-8 cursor-pointer border-green-400">
            <img src="assets/img/1.jpg" />
          </div>
          <div class="border-8 cursor-pointer border-transparent">
            <img src="assets/img/2.jpg" />
          </div>
          <div class="border-8 cursor-pointer border-transparent">
            <img src="assets/img/3.jpg" />
          </div>
        </div>

        <!-- Title -->
        <div class="mt-4">
          <app-inputs
            [lable]="'عنوان'"
            [control]="title"
            [placeholder]="'عنوان را وارد کنید!'"
          ></app-inputs>
        </div>

        <div class="mt-4 text-right">
          <button
            type="submit"
            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none"
          >
            بارگذاری
          </button>
        </div>
      </form>
    </div>
    }
  </div>
</section>
